.Active{
    justify-content: space-between;
}
#FlexBoxContainer3 {
    -moz-box-sizing: border-box;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
    -webkit-align-self: auto;
    -webkit-box-sizing: border-box;
    -webkit-flex-direction: column;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    align-self: auto;
    background-color: #9370DB;
    background-image: none;
    border: 0px #CCCCCC solid;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
}
#wb_Text2 {
    -webkit-align-self: auto;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    align-self: auto;
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}
#wb_Text2 div {
    text-align: left;
}
.FlexBoxContainer4 {
    -moz-box-sizing: border-box;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
    -webkit-align-self: auto;
    -webkit-box-sizing: border-box;
    -webkit-flex-direction: column;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    align-self: auto;
    background-color: #006400;
    background-color: rgba(0,100,0,0.71);
    background-image: none;
    border: 0px #CCCCCC solid;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.FlexBoxContainer4:hover{
    background-color: #08ce37;
    background-color: rgba(8,206,55,0.71);
    transition: background .5s ease-in-out;
}
#wb_Text3 {
    -webkit-align-self: auto;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    align-self: auto;
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}
#wb_Text3 div {
    text-align: left;
}
#FlexBoxContainer5 {
    -moz-box-sizing: border-box;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
    -webkit-align-self: auto;
    -webkit-box-sizing: border-box;
    -webkit-flex-direction: column;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    align-self: auto;
    background-color: #006400;
    background-color: rgba(0,100,0,0.71);
    background-image: none;
    border: 0px #CCCCCC solid;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
}
#wb_Text4 {
    -webkit-align-self: auto;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    align-self: auto;
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}
#wb_Text4 div {
    text-align: left;
}
#FlexBoxContainer6 {
    -moz-box-sizing: border-box;
    -webkit-align-content: center;
    -webkit-align-items: center;
    -webkit-align-self: auto;
    -webkit-box-sizing: border-box;
    -webkit-flex-direction: row;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    align-content: center;
    align-items: center;
    align-self: auto;
    background-color: #006400;
    background-color: rgba(0,100,0,0.71);
    background-image: none;
    border: 0px #CCCCCC solid;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}
#Button1 {
    -webkit-align-self: auto;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    align-self: auto;
    background-color: #9370DB;
    background-image: none;
    border: 0px #2E6DA4 solid;
    border-radius: 14px;
    color: #FFFFFF;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: Arial;
    font-size: 35px;
    font-weight: normal;
}
#wb_uid1 {
    color: #FFFFFF;
    font-family: Arial CYR;
    font-size: 29px;
}
#wb_uid2 {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 19px;
}
#wb_uid3 {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 19px;
}
#FlexBoxContainer2 {
    margin-top: 100px;
}
#FlexBoxContainer3 {
    margin-top: 30px;
}
.FlexBoxContainer4 {
    margin-top: 10px;
}
#FlexBoxContainer5 {
    margin-top: 10px;
}
#FlexBoxContainer6 {
    margin-top: 10px;
}
#Button1 {
    display: block;
    height: 50px;
    width: 173px;
    z-index: 4;
}
#wb_uid0 {
    color: #FFFFFF;
    font-family: Arial CYR;
    font-size: 43px;
}
.success{
    background-color: rgba(161, 240, 49, .6);
}
.error{

    background-color: rgba(240, 87, 108, .6);

}
